.description-text{
    margin: 10px 0 !important;
}

.select-address-card {
    margin: 24px 30px 0;
}

.purple-text {
    color: #5639E0;
}

.green-text {
    color: #0091A6;
}

.pink-text {
    color: #D900AB;
}

.blue-text {
    color: #3A5EE6 !important;
}

.btn {
    padding: 0 50px;
}

.address-token-name {
    margin-left: 0px;
}

@media screen and (max-width: 800px){
    .select-address-card{
        margin: 16px 16px 0;
    }
}