.transactions-details-block span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.transactions-details-block .transaction-address {
    color: #5639E0;
    font-weight: 600;
}

.transactions-details-block .transactions-amount {
    font-weight: 700;
    color: #5639E0;
}

.transactions-details-block .transaction-ticker {
    color: black;
}

.transactions-details-fee {
    font-weight: 700 !important;
    color: #0091A6;
}

.transactions-status {
    color: #0F8932 !important;
    font-weight: 700 !important;
} 

.transactions-status-failed {
    color:  #CC3030 !important;
    font-weight: 700 !important;
}

.transactions-details-block .row .custom-icon {
    margin-left: 4px;
}

.transaction-datetime {
    font-weight: 600 !important;
    color: #6B93C0;
}

.no-transactions-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 17% auto auto;
}

.no-transactions-block h3 {
    margin-bottom: 0;
    font-weight: 700;
}

.no-transactions-block p {
    color: #28436E;
    text-align: center;
    width: 70%;
    font-size: 15px;
}