.no-info-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-info-block h3{
    font-weight: 500;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
}

.no-info-block p{
    font-weight: 300;
    color: #6B93C0;
    text-align: center;
    width: 80%;
    font-size: 14px;
    line-height: 20px;
}

.no-info-block .custom-icon{
    margin-top: 15vh;
}

.no-info-block img{
    margin: 13% auto 20px;
}